@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  /* padding-bottom: 80px; */
}

/*设置IOS页面长按不可复制粘贴，但是IOS上出现input、textarea不能输入，因此将使用-webkit-user-select:auto;*/
* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
  margin: 0px;
  padding: 0px;
  outline: none;
}

:root {
  background-color: #f5f5f5;
}

#app .info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10px;
  padding: 20px 60px;
  border-radius: 4px;
}

#app .info-box div {
  text-align: center;
}

#app .info-box div :nth-child(1) {
  font-weight: 600;
  color: #7998ec;
  margin-bottom: 5px;
  font-size: 25px;
}

#app .info-box div :nth-child(2) {
  font-size: 14px;
  color: #333333;
}

#app .detail {
  background-color: white;
  border-radius: 4px;
  margin: 0 10px;
}

#app .detail .title {
  line-height: 50px;
  color: #222222;
  font-weight: 600;
}

#app .detail .title::before {
  content: "";
  width: 3px;
  height: 12px;
  background-color: #7998ec;
  margin-right: 10px;
  display: inline-block;
}

#app .detail .body-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #949494;
  height: 260px;
  padding: 0 30px;
}

#app .detail .body-info .info-left,
#app .detail .body-info .info-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column wrap;
  height: 100%;
  padding: 30px 0;
  font-size: 14px;
}

#app .detail .body-info .info-left div text:last-child,
#app .detail .body-info .info-right div text:last-child {
  color: #7998ec;
}

#app .detail .body-info .info-left {
  align-items: flex-start;
}

#app .detail .body-info .info-left div {
  position: relative;
}

#app .detail .body-info .info-left div::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #949494;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}

#app .detail .body-info .info-right {
  align-items: flex-end;
}

#app .detail .body-info .info-right div {
  position: relative;
}

#app .detail .body-info .info-right div::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #949494;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}

#app .detail .bmi-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  position: relative;
}

#app .detail .bmi-progress div {
  height: 10px;
  border-radius: 5px;
}

#app .detail .bmi-progress .cone {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #949494;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: -8px;
}

#app .detail .bmi-progress .ps {
  background: linear-gradient(to right, #4fffe5, #32ffba, #13ff8b);
  width: 20%;
}

#app .detail .bmi-progress .zc {
  background: linear-gradient(to right, #11ff87, #61ff67, #bbff44);
  width: 30%;
}

#app .detail .bmi-progress .pp {
  width: 22%;
  background: linear-gradient(to right, #cdf03e, #e4c537, #f89f31);
}

#app .detail .bmi-progress .fp {
  width: 28%;
  background: linear-gradient(to right, #ff922d, #ff7a26, #ff591b);
}

#app .detail .bmi-progress-t {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

#app .detail .bmi-progress-t div {
  text-align: center;
  font-size: 12px;
  transform: scale(0.8);
  margin-top: 8px;
  color: #666666;
}

#app .detail .bmi-progress-t .ps-t {
  width: 20%;
}

#app .detail .bmi-progress-t .zc-t {
  width: 30%;
}

#app .detail .bmi-progress-t .pp-t {
  width: 22%;
}

#app .detail .bmi-progress-t .fp-t {
  width: 28%;
}

#app .detail .indicators-box {
  width: 100%;
  padding: 20px 30px 10px 30px;
  overflow: scroll;
  white-space: nowrap;
}

#app .detail .indicators-box div {
  display: inline-block;
  width: 72px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  margin-right: 10px;
  box-shadow: 0 0 10px #efefef;
  border-radius: 5px;
}

#app .detail .explain-box {
  width: 100%;
  overflow: scroll;
  padding: 0 20px;
  margin-top: 10px;
}

#app .detail .explain-box .item {
  display: inline-block;
  width: 100%;
  color: #666666;
  font-size: 16px;
  font-weight: 600;
}

#app .detail .explain-box .item :last-child {
  color: #999999;
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: normal;
}
